html, body {margin: 0; padding: 0; overflow-x: hidden;}

.link {text-decoration: none;}
.link:hover {text-decoration: underline;}

.icon {background: url('!tools/icons/icon.png'); zoom: 1; display: inline; width: 17px; height: 18px; margin: 0 2px; vertical-align: middle; cursor: pointer;}
.icon_img {background-position: 0 0;}
.icon_img:hover {background-position: 0 18px;}
.icon_play {background-position: -18px 0;}
.icon_play:hover {background-position: -18px 18px;}
.icon_site {background-position: -36px 0;}
.icon_site:hover {background-position: -36px 18px;}

.icon_filetype {zoom: 1; display: inline; width: 45px; height: 18px; vertical-align: middle;}
.active {background-position: 0 0; cursor: pointer;}
.active:hover {background-position: 0 18px;}

.loader {width: 64px; height: 64px; background: url('!tools/icons/preloader.gif');}
.imagebox {display: none; text-align: center; filter: alpha(Opacity=100, FinishOpacity=100);}
.videobox {text-align:center; border-style: solid; border-width: 0;}

.image {text-align: center; filter: alpha(Opacity=70,  FinishOpacity=70); border-width: 0; cursor: pointer;}
.image:hover {filter: alpha(Opacity=100, FinishOpacity=100);}
.img_toolbar {margin: 0 auto 2px; width: 100px;}
.tool {float: left; height: 16px; width: 16px; margin: 2px; background: url('!tools/icons/img_toolbar.png'); cursor: pointer;}
.arrow_left {background-position: 0 0;}
.arrow_left:hover {background-position: 0 16px;}
.arrow_up {background-position: -16px 0;}
.arrow_up:hover {background-position: -16px 16px;}
.arrow_right {background-position: -32px 0;}
.arrow_right:hover {background-position: -32px 16px;}
.zoom_in {background-position: -48px 0;}
.zoom_in:hover {background-position: -48px 16px;}
.zoom_out {background-position: -64px 0;}
.zoom_out:hover {background-position: -64px 16px;}

.img {margin: 0;}

#fix {right: 0; top: 0; position: fixed;}
#fix input {width: 16px; height: 16px; font-size: 10px; margin: 0; cursor: pointer;}

.error {color: red; font-weight: bold;}