html {
	font-family: Tahoma;
	background-color: #F0F0F0;
	overflow: auto;
	color: #5C5C5C;
}
a, a:active {
	color: #004080;
	text-decoration: none;
	cursor:pointer;
}
a:visited {
	color: #C44305;
	text-decoration: none;
}
a:hover {
	color: #004080;
	text-decoration: underline;
}
div {
	width: auto;
	word-wrap: break-word;
}
.img {
	margin: 0;
	padding: 0;
	vertical-align: middle;
}
.name {
	font-weight: bold;
	padding: 3px 5px 0px 5px;
}
.date {
	font-weight: bold;
	float: right;
	font-size: .8em;
	padding: 3px 5px 0px 5px;
}
.time {
	color: Gray;
	float: right;
	font-size: .8em;
}
.text {
	padding: 3px 5px;
}
.avatar {
	float: left;
	padding: 0;
}
.avatar img, .avatar object {
	min-width: 32px;
  max-width: 60px;
	min-height: 32px;
  max-height: 60px;
}
.tmpl {
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #B4B4B4;
}
.inner {
	border-top: 1px dotted #B4B4B4;
}
.history {
	/*background: url(example_src/history.png) no-repeat bottom right;*/
}
.in {
	background-image: url(example_src/in.png);
}
.in .head {
	color: #C44305;
}
.out {
	background-image: url(example_src/out.png);
}
.out .head {
	color: #054381;
}
.status {
	color: #C44305;
	background-image: url(example_src/status.png);
}
.file {
	color: green;
	background-image: url(example_src/file.png);
}
.url {
	color: #054381;
	background-image: url(example_src/url.png);
}